@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    width: 768px;
  }
  .phon {
    height: 1500px;
    width: 768px;
  }
  .cards {
    margin-left: 18px;
    margin-top: 18px;
    grid-template-columns: 169px 169px 169px 169px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    grid-gap: 18px;
    /* justify-content: space-evenly;
    align-content: space-evenly; */
  }
  .progressbar {
    /* right: 30px; */
    margin-top: 18px;
    position: sticky;
    bottom: 18px;
    height: 42px;
    width: calc(100% - 18px);
    display: block;
    display: flex;
    justify-content: flex-end;
  }
  .footer {
    margin-top: 18px;
  }
}
/* @media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (orientation: portrait) {
  body {width: 414px;}
  .phon {
    height: 1000px;
    width: 414px;
  }
  .cards {
    margin-left: 25px;
    margin-top: 25px;
    grid-template-columns: 169px 169px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    grid-gap: 25px;
  }
  .progressbar {
    margin-top: 25px;
    position: sticky;
    bottom: 25px;
    height: 42px;
    width: calc(100% - 25px);
    display: block;
    display: flex;
    justify-content: flex-end;
  }
  .footer {
    width: 414px;
    margin-top: 25px;
  }
} */
